{  
    "gui" : {
        "background" : {
            "type" : "background",
            "fileHeader" : "/D8Weaponry/object/crafting/gunsmithrefinementWorkbench/header.png",
            "fileBody" : "/D8Weaponry/object/crafting/gunsmithrefinementWorkbench/body.png",
            "fileFooter" : "/D8Weaponry/object/crafting/gunsmithrefinementWorkbench/footer.png",
            "mouseTransparent" : true,
            "zlevel" : -100
        },
    
        "windowtitle" : {
            "type" : "title",
            "title" : "  Refinement",
            "subtitle" : "  Enhance your weapon's",
            "position" : [-5, 252],
            "icon" : {
                "type" : "image",
                "file" : "/interface/crafting/craftinganvil.png",
                "position" : [0, -20],
                "zlevel" : -1
            }
        },
        
        "close" : {
            "type" : "button",
            "base" : "/interface/x.png",
            "hover" : "/interface/xhover.png",
            "pressed" : "/interface/xpress.png",
            "pressedOffset" : [0, 0],
            "tooltip" : {
                "description" : "Close"
            },
            "position" : [95, 210]
        },

        "upgradeBtn" : {
            "type" : "button",
            "base" : "/D8Weaponry/object/crafting/gunsmithrefinementWorkbench/upgrade.png",
            "hover" : "/D8Weaponry/object/crafting/gunsmithrefinementWorkbench/upgrade.png?brightness=50?saturation=-50",
            "pressed" : "/D8Weaponry/object/crafting/gunsmithrefinementWorkbench/upgrade.png?brightness=-50",
            "pressedOffset" : [0, 0],
            "position" : [76, 76],
            "tooltip" : {
                "description" : "Upgrade"
            },
            "callback" : "btn",
            "disabled" : true
        },

        "downgradeBtn" : {
            "type" : "button",
            "base" : "/D8Weaponry/object/crafting/gunsmithrefinementWorkbench/downgrade.png",
            "hover" : "/D8Weaponry/object/crafting/gunsmithrefinementWorkbench/downgrade.png?brightness=50?saturation=-50",
            "pressed" : "/D8Weaponry/object/crafting/gunsmithrefinementWorkbench/downgrade.png?brightness=-50",
            "pressedOffset" : [0, 0],
            "position" : [76, 38],
            "tooltip" : {
                "description" : "Downgrade : give back some of the tier materials"
            },
            "callback" : "btn",
            "disabled" : true
        },

        "itemListArea" : {
            "type" : "layout",
            "layoutType" : "basic",
            "position" : [0, 0],
            "size" : [238, 128],
            "zlevel" : 10,
            "children" : {
                "scrollArea" : {
                    "type" : "scrollArea",
                    "rect" : [7, 21, 75, 115],
                    "children" : {
                        "itemList" : {
                            "columns": 3,
                            "type" : "list",
                            "callback" : "itemSelected",
                            "schema" : {
                                "selectedBG" : "/interface/inventory/itembordercommon.png?brightness=50",
                                "unselectedBG" : "/interface/inventory/itembordercommon.png",
                                "spacing" : [1, 1],
                                "memberSize" : [18, 18],
                                "listTemplate" : {
                                    "background" : {
                                        "type" : "image",
                                        "file" : "/interface/inventory/itembordercommon.png",
                                        "position" : [1, 1],
                                        "zlevel" : -1
                                    },
                                    "item" : {
                                        "type" : "itemslot",
                                        "position" : [1, 1],
                                        "callback" : "null"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },

        "materialListArea" : {
            "type" : "layout",
            "layoutType" : "basic",
            "position" : [0, 0],
            "size" : [238, 128],
            "zlevel" : 10,
            "children" : {
                "scrollArea" : {
                    "type" : "scrollArea",
                    "rect" : [97, 21, 230, 115],
                    "children" : {
                        "itemList" : {
                            "columns": 1,
                            "type" : "list",
                            "callback" : "null",
                            "schema" : {
                                "unselectedBg" : "/interface/craftingtooltip/listitem.png",
                                "selectedBg" : "/interface/craftingtooltip/listitem.png",
                                "spacing" : [0, 1],
                                "memberSize" : [125, 22],
                                "listTemplate" : {
                                    "background" : {
                                        "type" : "image",
                                        "file" : "/interface/craftingtooltip/listitem.png",
                                        "position" : [1, 0],
                                        "zlevel" : -1
                                    },
                                    "itemName" : {
                                        "type" : "label",
                                        "position" : [27, 11],
                                        "hAnchor" : "left",
                                        "vAnchor" : "mid",
                                        "wrapWidth" : 66,
                                        "lineSpacing" : 1.0,
                                        "value" : "Golden Moustache"
                                    },
                                    "itemIcon" : {
                                        "type" : "itemslot",
                                        "position" : [4, 2],
                                        "callback" : "null"
                                    },
                                    "count" : {
                                        "type" : "label",
                                        "position" : [117, 7],
                                        "hAnchor" : "right",
                                        "value" : "19/99"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    },
    "tooltipLayout" : {
        
        "panefeature" : {
            "type" : "panefeature",
            "offset" : [10, 0]
        },

        "background" : {
            "type" : "background",
            "fileHeader" : "",
            "fileBody" : "/interface/rightBarTooltipBg.png?scalenearest=2;1?crop;0;0;118;14",
            "fileFooter" : ""
        },
         
        "descriptionLabel" : {
            "type" : "label",
            "position" : [60, 11],
            "hAnchor" : "mid",
            "vAnchor" : "top",
            "wrapWidth" : 220,
            "zlevel" : 1
        }
    },

    "scripts" : [ "/D8Weaponry/object/crafting/gunsmithrefinementWorkbench/refinement.lua" ],
    "scriptDelta" : 5,
    "scriptWidgetCallbacks" : [
        "itemSelected",
        "btn",
        "btnUpgrade",

        "null"
    ],
    
    "scriptsConfig" : "/D8Weaponry/object/crafting/gunsmithrefinementWorkbench/scriptConfig.config"
  }