{
    "tag" : "d8Weaponry_gun",
    "tiersMaterials" : {
        "1" : [
            ["tungstenbar", 15],
            ["copperbar", 10],
            ["upgrademodule", 4]
        ],
        "2" : [
            ["titaniumbar", 15],
            ["copperbar", 12],
            ["upgrademodule", 6]
        ],
        "3" : [
            ["durasteelbar", 15],
            ["copperbar", 14],
            ["upgrademodule", 8]
        ],
        "4" : [
            ["refinedaegisalt", 15],
            ["staticcell", 16],
            ["upgrademodule", 10]
        ],
        "5" : [
            ["solariumstar", 15],
            ["cryonicextract", 15],
            ["upgrademodule", 12]
        ],
        "6" : [
            ["essence", 50],
            ["upgrademodule", 14]
        ],
        "7" : [
            ["perfectlygenericitem", 10],
            ["upgrademodule", 14],
            ["upgrademodule", 16]
        ],
        "8" : [
            ["salvagelegs", 4],
            ["salvagearm", 2],
            ["siliconboard", 5],
            ["upgrademodule", 18]
        ],
        "9" : [
            ["manipulatormodule", 20],
            ["upgrademodule", 20]
        ]
    },
    "skipWhitelist" : true,
    "upgradableItemList" : [
        "d8Weaponry_glock",
        "d8Weaponry_chauchat",
        "d8Weaponry_makarov",
        "d8Weaponry_tommygun",
        "d8Weaponry_doublebarrelshotgun",
        "d8Weaponry_minigun"
    ]
}