{
    "customAmmoRenderer" : true,

    "starExtensions" : {
        "note" : "WIP",
        "useUiAnimator" : false,
        "posAnchor" : "center"
    },
    "opacityMax" : [9,5],
    "posOffset" : [0,0],
    "sideLeaning" : "center",
    "numberOnly" : true,

    "info" : {
        "weaponAbilityFork" : {
            "stances" : {
                "reload<step>" : {
                    "note" : "start at 1 and is optional"
                    "weaponDirective" : "?flipy, apply a directive to the weaponDirective globalTag for the duration of the stances... only available for reload stances"
                },
                "postFire<step>" : {
                    "note" : "start at 1 and is optional"
                }
            },
            "ammoType" : "volatilepowder",
            "ammoName" : "Volatile Powder",
            "ammoCountName" : "primCount",
            "ammoMaxName" : "primMax",
            "reloadType" : "single, most, full <full will take all munition required for a full clip and only reload when can reload a full clip... for typical game logic use most>",
            "infMag" : false,
            "postFire" : false,
            "postFireOnReload" : false,
            "reloadwithattack" : false,
            "ammoCost" : 1            
        },
        "munitionBarRenderer" : {
            "RGB" : "boolean, is a bit costly... will mostlikely be reworked with to bar render to a dedicated groups of sprites",
            "isRessource" : "boolean, if true then the given ressources will be used for calculation instead of weapon param ex: energy, health, food, breath",
            "ressourceName" : "name of the used ressource",
            "ammoMaxName" : "string, name of the maximum amount of ammunition parameters of the weapon -> weapon.parameters.<ammoMaxName>",
            "ammoCountName" : "string, name of the ammunition count parameters of the weapon -> weapon.parameters.<ammoCountName>",
            "barText" : "string, -> absolute path to the texture for the bar",
            "ammoText" : "string -> absolute path to the texture for the icon",
            "numberOnly" : "boolean, override the numberOnly Param",
            "animateBar" : "boolean, give a small animation to the bar when emptying and filling... work best with non ressource using weapon",
            "invertRender" : "boolean, reverse the ammoCount logic, filling the less there is and emptying the more there is",
            "structure" : [
                {
                    "ammoMaxName" : "string",
                    "ammoCountName" : "string",
                    "barText" : "string",
                    "ammoText" : "string"
                }
            ]
        }
    }
}
