{
    "customAmmoRenderer" : true,

    "starExtensions" : {
        "note" : "WIP",
        "useUiAnimator" : false,
        "posAnchor" : "center"
    },
    "opacityMax" : [7,5],
    "posOffset" : [0,0],
    "sideLeaning" : "center",
    "numberOnly" : true,

    "info" : {
        "weaponAbilityFork" : {
            "stances" : {
                "reload<step>" : "<start at 1 and is optional>",
                "postFire<step>" : "<start at 1 and is optional>"
            },
            "ammoType" : "volatilepowder",
            "ammoCountName" : "primCount",
            "ammoMaxName" : "primMax",
            "reloadType" : "mag, single, passive",
            "infMag" : false,
            "postFire" : false,
            "postFireOnReload" : false,
            "ammoCost" : 1            
        },
        "munitionBarRenderer" : {
            "RGB" : "boolean",
            "isRessource" : "boolean, if true then the given ressources will be used for calculation instead of weapon param ex: energy, health, food, breath",
            "ressourceName" : "name of the used ressource",
            "ammoMaxName" : "string, name of the maximum amount of ammunition parameters of the weapon -> weapon.parameters.<ammoMaxName>",
            "ammoCountName" : "string, name of the ammunition count parameters of the weapon -> weapon.parameters.<ammoCountName>",
            "barText" : "string, -> absolute path to the texture for the bar",
            "ammoText" : "string -> absolute path to the texture for the icon",
            "numberOnly" : "boolean, override the numberOnly Param",
            "animateBar" : "boolean, give a small animation to the bar when emptying and filling... work best with non ressource using weapon",
            "invertRender" : "boolean, reverse the ammoCount logic, filling the less there is and emptying the more there is",
            "structure" : [
                {
                    "ammoMaxName" : "string",
                    "ammoCountName" : "string",
                    "barText" : "string",
                    "ammoText" : "string"
                },
                
                {
                    "isRessource" : "boolean",
                    "ressourceName" : "string",
                    "cost" : "float",
                    "barText" : "string",
                    "ammoText" : "string"
                }
            ]
        }
    }
}