{
    "gui" : {
        "background" : {
          "type" : "background",
          "fileBody" : "/assetmissing.png?crop;0;0;1;1?replace=ffffff00;0000006F?scale=8;8?scale=15;6"
        },

        "opacityLbl" : {
            "type" : "label",
            "position" : [2, 25],
            "hAnchor" : "left",
            "vAnchor" : "mid",
            "value" : "^gray;Max Opacity :                0-255^reset;"
        },
        "opacityMax" : {
            "type" : "textbox",
            "position" : [55, 21],
            "textAlign" : "left",
            "maxWidth" : 60,
            "regex" : "x?\\W{0,4}\\d{0,4}.{0,4}",
            "enterKey" : "confirm_box",
            "callback" : "textBox",
            "hint" : "255"
        },
        
        "positionOffsetLbl" : {
            "type" : "label",
            "position" : [2, 15],
            "hAnchor" : "left",
            "vAnchor" : "mid",
            "value" : "^gray;Pos Offset  :           ;            ^reset;"
        }, 
        "positionX" : {
            "type" : "textbox",
            "position" : [55, 11],
            "textAlign" : "left",
            "maxWidth" : 60,
            "regex" : "x?\\W{0,4}\\d{0,4}.{0,4}",
            "enterKey" : "confirm_box",
            "callback" : "textBox",
            "hint" : "0 "
        },
        "positionY" : {
            "type" : "textbox",
            "position" : [84, 11],
            "textAlign" : "left",
            "maxWidth" : 60,
            "regex" : "x?\\W{0,4}\\d{0,4}.{0,4}",
            "enterKey" : "confirm_box",
            "callback" : "textBox",
            "hint" : "0 "
        },

        
        "numberOnlyLbl" : {
            "type" : "label",
            "position" : [2, 5],
            "hAnchor" : "left",
            "vAnchor" : "mid",
            "value" : "^gray;Number Only^resets;"
        }, 
        "numberOnly" : {
            "type" : "button",
            "base" : "/interface/title/checkboxnocheck.png",
            "hover" : "/interface/title/checkboxnocheckhover.png",
            "baseImageChecked" : "/interface/title/checkboxcheck.png",
            "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",
            "checkable" : true,
            "checked" : false,
            "position" : [53, 0],
            "callback" : "button"
        }
    },
    
    "scripts" : [ "/D8Weaponry/interfaces/scripted/renderConfig/renderConfig.lua" ],
    "scriptDelta" : 5,
    "scriptWidgetCallbacks" : [
        "confirm_box",
        "button",

        "textBox"
    ]
}