{
    "itemName" : "d8weaponry_wastelandwanderers_makeshiftgun",
    "price" : 1,
    "maxStack" : 1,
    "level" : 1,
    "rarity" : "Common",
    "description" : "A makeshift gun.",
    "shortdescription" : "Makeshift Gun",
    "category" : "d8weaponry_makeshiftweapon",
    "tooltipKind" : "gun",
    "twoHanded" : false,
    "itemTags" : ["weapon", "ranged", "tool", "nailgun", "d8Weaponry_gun"],
    
    "inventoryIcon" : [
        { "image" : "normal.png:idle" }
    ],
    "animation" : "/D8Weaponry/activeitem/ranged/gun.animation",
    "animationParts" : {
        "middle" : "normal.png",
        "middleFullbright" : "",
        "muzzleFlash" : ""
    },
    "animationCustom" : {
            "sounds" : {
                "fire" : {
                    "rangeMultiplier" : 1,
                    "pitchMultiplier" : 1.2,
                    "volume" : 1,
                    "pool" : ["/sfx/gun/uzi1.ogg"]
                },
                "reload1" : {
                    "rangeMultiplier" : 1,
                    "pitchMultiplier" : 1,
                    "volume" : 1,
                    "pool" : ["/sfx/gun/reload/ar_reload_clip2.ogg"]
                },
                "reload2" : {
                    "rangeMultiplier" : 1,
                    "pitchMultiplier" : 1,
                    "volume" : 1,
                    "pool" : ["/sfx/gun/reload/ar_reload_clip2.ogg"]
                },
                "slide" : {
                    "rangeMultiplier" : 1,
                    "pitchMultiplier" : 1,
                    "volume" : 1,
                    "pool" : ["/sfx/gun/flamethrower_start.ogg"]
                }
            },
            "lights" : {
                "muzzleFlash" : {
                "color" : [40, 40, 0]
            }
        }
    },
    
    "baseOffset" : [0, 0],
    "muzzleOffset" : [1.5, 0.25],
    
    "scripts" : ["/items/active/weapons/ranged/gun.lua"],
    
    "elementalType" : "physical",
    
    "primaryAbility" : {
        "scripts" : ["/D8Weaponry/activeitem/ranged/d8weap_gunfire_fork.lua"],
        "class" : "GunFire",
        
        "fireTime" : 0.5,
        "baseDps" : 6,
        "energyUsage" : 17.5,
        "projectileCount" : 1,
        "inaccuracy" : 0.01,
        "fireType" : "auto",
        
        "projectileType" : "bullet-1",
        "muzzleFlashVariants" : 1,
        
        "stances" : {
            "idle" : {
                "armRotation" : 0,
                "weaponRotation" : 0,
                "twoHanded" : false,
                
                "allowRotate" : true,
                "allowFlip" : true
            },
            "fire" : {
                "duration" : 0,
                "armRotation" : 4,
                "weaponRotation" : 4,
                "twoHanded" : false,
                
                "allowRotate" : false,
                "allowFlip" : false
            },
            "cooldown" : {
                "duration" : 0.2,
                "armRotation" : 4,
                "weaponRotation" : 4,
                "twoHanded" : false,
                
                "allowRotate" : false,
                "allowFlip" : false
            }
        },
        
        "ammoType" : "volatilepowder",
        "ammoMaxName" : "MaxMetalCannister",
        "ammoCountName" : "MetalCannister",
        "reloadType" : "single,most,full",
        "infMag" : false,
        "ammoCost" : 1
    },
    
    "d8Weaponry" : [
        {
            "isBar" : true,
            "numberOnly" : true,
            "ammoMaxName" : "MaxMetalCannister",
            "ammoCountName" : "MetalCannister",
            "barText" : "/items/liquids/liquidlavaicon.png",
            "ammoText" : "/items/liquids/liquidlavaicon.png:?saturation=-30?brightness=-30?hueshift=15"
        }
    ],
    "MaxMetalCannister" : 9,
    "MetalCannister" : 0,
    
    "builder" : "/D8Weaponry/buildscripts/buildunrandrangedweapon.lua"
}