{
    "gui" : {
        "panefeature" : {
          "type" : "panefeature",
          "anchor" : "centerBottom",
          "offset" : [0, 0],
          "positionLocked" : true
        },

        "background" : {
            "type" : "background",
            "fileBody" : "/WIP/jpbai/_interface/JPBAI_attach/gun/body.png"
        },
        "backgroundImg" : {
            "type" : "image",
            "position" : [0, 0],
            "image" : "/WIP/jpbai/_interface/JPBAI_attach/gun/body.png"
        },
        
        "itemIcon" : {
            "type" : "itemslot",
            "position" : [15, 95],
            "callback" : "null"
        },

        "attachKind" : {
            "type" : "scrollArea",
            "rect" : [40, 73, 230, 112],
            "children" : {
              "list" : {
                "columns": 8,
                "type" : "list",
                "callback" : "attachKindSelected",
                "schema" : {
                  "selectedBG" : "/WIP/jpbai/_interface/JPBAI_attach/gun/selectbackground2.png",
                  "unselectedBG" : "/WIP/jpbai/_interface/JPBAI_attach/gun/selectbackground.png",
                  "spacing" : [0, 1],
                  "memberSize" : [22, 22],
                  "listTemplate" : {
                    "background" : {
                      "type" : "image",
                      "file" : "/WIP/jpbai/_interface/JPBAI_attach/gun/selectbackground.png",
                      "position" : [2, 0],
                      "zlevel" : -1
                    },
                    "itemIcon" : {
                      "type" : "itemslot",
                      "position" : [3, 1],
                      "callback" : "null",
                      "showRarity" : false,
                      "showCount" : false
                    }
                  }
                }
              }
            }
        },
        
        "attachCfg" : {
            "type" : "scrollArea",
            "rect" : [16, 8, 220, 56],
            "children" : {
              "list" : {
                "columns": 9,
                "type" : "list",
                "callback" : "attachCfgSelected",
                "schema" : {
                    "selectedBG" : "/WIP/jpbai/_interface/JPBAI_attach/gun/selectbackground2.png",
                    "unselectedBG" : "/WIP/jpbai/_interface/JPBAI_attach/gun/selectbackground.png",
                    "spacing" : [0, 1],
                    "memberSize" : [22, 22],
                    "listTemplate" : {
                        "background" : {
                            "type" : "image",
                            "file" : "/WIP/jpbai/_interface/JPBAI_attach/gun/selectbackground.png",
                            "position" : [2, 0],
                            "zlevel" : -1
                        },
                        "itemName" : {
                            "type" : "label",
                            "position" : [25, 5],
                            "hAnchor" : "left",
                            "wrapWidth" : 150,
                            "value" : "Replace Me"
                        },
                        "itemIcon" : {
                            "type" : "itemslot",
                            "position" : [3, 1],
                            "callback" : "null"
                        }
                    }
                }
              }
            }
        }
    },

    "scripts" : ["/WIP/jpbai/_interface/JPBAI_attach/gun/script.lua"],
    "scriptDelta" : 5,
    "scriptWidgetCallbacks" : [
        "null",

        "attachKindSelected",
        "attachCfgSelected"
    ]
}