{
    "behaviors" : {
        "init" : {
            "stance" : "init",
            "possibleOutcome" : [
                {
                    "require" : {
                        "stance" : "idle"
                    },
                    "behavior" : "idle"
                }
            ],
            "eventOnInit" : [
                {
                    "event" : "setCursor",
                    "cursor" : "/cursors/reticle0.cursor"
                },
                {
                    "event" : "function",
                    "callback" : "Weapon.init"
                },
                {
                    "event" : "function",
                    "callback" : "d8WeapItem.init"
                }

            ]
        },
        "idle" : {
            "stance" : "idle",
            "possibleOutcome" : [
                {
                    "require" : {
                        "fireMode" : "<abilitySlot>",
                        "shift" : true,
                        "move" : {
                            "up" : true
                        },
                        "function" : [
                            "d8WeapItem.hasSpaceInMagazine",
                            "d8WeapItem.canConsumeMag"
                        ]
                    },
                    "behavior" : "reload"
                },
                
                {
                    "require" : {
                        "fireMode" : "<abilitySlot>",
                        "function" : [
                            "d8WeapItem.nextMunition"
                        ],
                        "lowerParam" : {
                            "munitionInChamber" : true
                        },
                        "hasLineOfSight" : {
                            "spawnPos" : "fireOffset",
                            "spawnOffset" : [3, 0.5]
                        }
                    },
                    "behavior" : "chamberMunition"
                },
                {
                    "require" : {
                        "fireMode" : "<abilitySlot>",
                        "function" : [
                            "d8WeapItem.nextMunition"
                        ],
                        "hasLineOfSight" : {
                            "spawnPos" : "fireOffset",
                            "spawnOffset" : [3, 0.5]
                        }
                    },
                    "behavior" : "fire"
                }
            ]
        },
        "fire" : {
            "stance" : "fire",
            "possibleOutcome" : [
                {
                    "require" : {
                        "stance" : "idle",
                        "function" : [
                            "d8WeapItem.curMagEmpty"
                        ]
                    },
                    "behavior" : "empty"
                },
                {
                    "require" : {
                        "stance" : "idle"
                    },
                    "behavior" : "idle"
                }
            ],
            "periodicEvent" : [],
            "eventOnInit" : [
                {
                    "event" : "function",
                    "callback" : "animationEx:randPartTag",
                    "args" : {
                        "partType" : "muzzleFlash",
                        "tagName" : "variant",
                        "varNum" : 3
                    }
                },
                {
                    "event" : "function",
                    "callback" : "d8WeapItem.shotMunition",
                    "args" : {
                        "spawnPos" : "fireOffset",
                        "spawnOffset" : [3, 0.5],
    
                        "scalingFunction" : "d8WeapItem.munitionScaling",
                        "inaccuracy" : 0
                    }
                }
            ]
        },
        "reload" : {
            "stance" : "idleToReload",
            "possibleOutcome" : [
                {
                    "require" : {
                        "stance" : "idle"
                    },
                    "behavior" : "idle"
                }
            ],
            "eventOnStance" : {
                "reload4" : [
                    {
                        "event" : "function",
                        "callback" : "d8WeapItem.consumeMag"
                    },
                    {
                        "event" : "function",
                        "callback" : "d8WeapItem.refillCurMag"
                    }
                ]
            }
        },

        "chamberMunition" : {
            "stance" : "chamberMunition",
            "possibleOutcome" : [
                {
                    "require" : {
                        "stance" : "idle"
                    },
                    "behavior" : "idle"
                }
            ],
            "eventOnStance" : {
                "chamberMunition2" : [
                    {
                        "event" : "function",
                        "callback" : "behaviorEx.setParameter",
                        "args" : {
                            "parameter" : "munitionInChamber",
                            "value" : true
                        }
                    }
                ]
            }
        },
        "empty" : {
            "possibleOutcome" : [
                {
                    "require" : {},
                    "behavior" : "idle"
                }
            ],
            "eventOnInit" : [
                {
                    "event" : "function",
                    "callback" : "behaviorEx.setParameter",
                    "args" : {
                        "parameter" : "munitionInChamber",
                        "value" : false
                    }
                }
            ]
        }
    }
}