{
    "stances" : {
        "fire" : {

        }
    },
    "behaviors" : {
        "init" : {
            "stance" : "init",
            "possibleOutcome" : [
                {
                    "require" : {},
                    "behavior" : "idle"
                }
            ],
            "eventOnInit" : [
                {
                    "event" : "setCursor",
                    "cursor" : "/cursors/reticle0.cursor"
                }
            ]
        },
        "idle" : {
            "stance" : "idle",
            "possibleOutcome" : [
                {
                    "require" : {
                        "fireMode" : "<abilitySlot>"
                    },
                    "behavior" : "fire"
                }
            ]
        },
        "fire" : {
            "stance" : "fire",
            "possibleOutcome" : [
                {
                    "require" : {
                        "stance" : "idle"
                    },
                    "behavior" : "idle"
                }
            ],
            "periodicEvent" : [],
            "eventOnInit" : [
                {
                    "event" : "projectile",
                    "loop" : false,
                    "spawnPos" : "fireOffset",
                    "spawnOffset" : [3, 0.5],

                    "type" : "<projectileType>",
                    "inaccuracy" : 0,
                    "param" : {}
                }
            ]
        }
    },

    "overrideRule" : {
        "behaviors.fire.eventOnInit.1.spawnOffset" : "fireOffset",
        "behaviors.fire.eventOnInit.1.inaccuracy" : "inaccuracy"
    }
}