{
    "behaviors" : {
        "idle" : {
            "stance" : "idle",
            "possibleOutcome" : [
                {
                    "require" : {
                        "fireMode" : "<abilitySlot>"
                    },
                    "behavior" : "behaviorTemplate"
                }
            ]
        },
        "behaviorTemplate" : {
            "stance" : "idle",
            "possibleOutcome" : [
                {
                    "require" : {
                        "time" : 1
                    },
                    "behavior" : "idle"
                }
            ],
            "periodicEvent" : [],
            "eventOnInit" : [],
            "eventOnUninit" : [],
            "eventOnHitDealt" : [],
            "eventOnDamageDealt" : [],
            "eventOnDamageTaken" : [],
            "eventOnStance" : {}
        }
    }
}