{  
    "gui" : {
        "panefeature" : {
            "type" : "panefeature",
            "anchor" : "TopLeft",
            "offset" : [1, -40],
            "positionLocked" : true
        },
  
        "background" : {
            "type" : "background",
            "fileHeader" : "/shared/darkcraft8/interfaces/craftingpaneselector/header.png",
            "fileBody" : "/shared/darkcraft8/interfaces/craftingpaneselector/body.png",
            "fileFooter" : "/shared/darkcraft8/interfaces/craftingpaneselector/footer.png",
            "mouseTransparent" : true,
            "zlevel" : -100
        },
    
        "windowtitle" : {
            "type" : "title",
            "title" : "  ",
            "subtitle" : "  ",
            "position" : [-5, 252],
            "icon" : {
                "type" : "image",
                "file" : "/assetmissing.png",
                "position" : [0, -20],
                "zlevel" : -1
            }
        },
        
        "close" : {
            "type" : "button",
            "base" : "/interface/x.png",
            "hover" : "/interface/xhover.png",
            "pressed" : "/interface/xpress.png",
            "pressedOffset" : [0, 0],
            "tooltip" : {
                "description" : "Close"
            },
            "position" : [95, 210]
        },

        "reopenBtn" : {
            "type" : "button",
            "base" : "/shared/darkcraft8/interfaces/craftingpaneselector/reopen.png",
            "hover" : "/shared/darkcraft8/interfaces/craftingpaneselector/reopenhover.png",
            "pressed" : "/shared/darkcraft8/interfaces/craftingpaneselector/reopenpress.png",
            "pressedOffset" : [0, 0],
            "position" : [76, 211],
            "tooltip" : {
                "description" : "Toggle Crafting Pane"
            },
            "callback" : "btn"
        },
        
        "btnUpgrade" : {
            "type" : "button",
            "disabledImage" : "/shared/darkcraft8/interfaces/craftingpaneselector/upgradeUnready.png",
            "base" : "/shared/darkcraft8/interfaces/craftingpaneselector/upgradeReady.png",
            "position" : [45, 209],
            "zlevel" : 5
        },

        "partListArea" : {
            "type" : "layout",
            "layoutType" : "basic",
            "position" : [0, 0],
            "size" : [170, 242],
            "zlevel" : 10,
            "children" : {
                "scrollArea" : {
                    "type" : "scrollArea",
                    "rect" : [4, 12, 116, 207],
                    "children" : {
                        "itemList" : {
                            "columns": 4,
                            "type" : "list",
                            "callback" : "paneSelected",
                            "schema" : {
                                "selectedBG" : "/shared/darkcraft8/interfaces/craftingpaneselector/craftingselected.png",
                                "unselectedBG" : "/shared/darkcraft8/interfaces/craftingpaneselector/craftingbackground.png",
                                "spacing" : [1, 1],
                                "memberSize" : [24, 24],
                                "listTemplate" : {
                                    "background" : {
                                        "type" : "image",
                                        "file" : "/shared/darkcraft8/interfaces/craftingpaneselector/craftingselected.png",
                                        "position" : [0, 0],
                                        "zlevel" : -1
                                    },
                                    "itemName" : {
                                        "type" : "label",
                                        "position" : [25, 5],
                                        "hAnchor" : "left",
                                        "wrapWidth" : 116,
                                        "value" : "Replace Me"
                                    },
                                    "icon" : {
                                        "type" : "image",
                                        "file" : "/interface/crafting/craftablebackground.png",
                                        "position" : [1, 1],
                                        "zlevel" : 1
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },

        "listUpgrade" : {
            "visible" : false,
            "type" : "layout",
            "layoutType" : "basic",
            "position" : [0, 0],
            "size" : [170, 242],
            "zlevel" : 10,
            "children" : {
                "scrollArea" : {
                    "type" : "scrollArea",
                    "rect" : [4, 12, 116, 207],
                    "children" : {
                        "itemList" : {
                            "columns": 1,
                            "type" : "list",
                            "callback" : "null",
                            "schema" : {
                                "unselectedBg" : "/interface/craftingtooltip/listitem.png",
                                "selectedBg" : "/interface/craftingtooltip/listitem.png",
                                "spacing" : [0, 1],
                                "memberSize" : [125, 22],
                                "listTemplate" : {
                                    "background" : {
                                        "type" : "image",
                                        "file" : "/interface/craftingtooltip/listitem.png",
                                        "position" : [1, 0],
                                        "zlevel" : -1
                                    },
                                    "itemName" : {
                                        "type" : "label",
                                        "position" : [27, 11],
                                        "hAnchor" : "left",
                                        "vAnchor" : "mid",
                                        "wrapWidth" : 66,
                                        "lineSpacing" : 1.0,
                                        "value" : "Golden Moustache"
                                    },
                                    "itemIcon" : {
                                        "type" : "itemslot",
                                        "position" : [4, 2],
                                        "callback" : "null"
                                    },
                                    "count" : {
                                        "type" : "label",
                                        "position" : [117, 7],
                                        "hAnchor" : "right",
                                        "value" : "19/99"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "tooltipLayout" : {
        
        "panefeature" : {
            "type" : "panefeature",
            "offset" : [10, 0]
        },

        "background" : {
            "type" : "background",
            "fileHeader" : "",
            "fileBody" : "/interface/rightBarTooltipBg.png?scalenearest=2;1?crop;0;0;118;14",
            "fileFooter" : ""
        },
         
        "descriptionLabel" : {
            "type" : "label",
            "position" : [60, 11],
            "hAnchor" : "mid",
            "vAnchor" : "top",
            "wrapWidth" : 220,
            "zlevel" : 1
        }
    },

    "scripts" : [ "/shared/darkcraft8/interfaces/craftingpaneselector/craftingpaneselector.lua" ],
    "scriptDelta" : 5,
    "scriptWidgetCallbacks" : [
        "paneSelected",
        "btn",
        "btnUpgrade",

        "null"
    ]
  }