{
    "name" : "D8Weap_GeneralInfo",
    "icon" : "/D8Weaponry/codex/d8Weaponry_guide_translation.png",
    "tooltip" : " D8 Weaponry | General Information",

    "category" : [
        {   
            "tooltipText" : " Weapon's Usage",
            "icon" : "/D8Weaponry/object/crafting/gunsmithTable/icon2.png",
            "pages" : [
                {
                    "text" : {
                        "type" : "text",
                        "position" : [0, 230],
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "string" : [
                            "Weapon's in this mod generaly require a secondary item called a ^green;munition^reset;",
                            "both are usualy crafted at the ^orange;Gunsmith Table^reset; and it variants.",
                            "",
                            "The use munition, while less energy expensive require the user to reload",
                            "such process can vary both in time and cost.",
                            "",
                            "Those that utilise magazine usualy require the user to remove the previous one",
                            "^red;Discarding the remaining munition in the process^reset; but take less time than most.",
                            "",
                            "On the other hand the one's that directly utilise the munition \"ex: shotgun\",",
                            "will take more time to completely reload but can be reloaded as long",
                            "as you have at least one munition for it.",
                            "",
                            "Each level of the ^orange;Gunsmith Table^reset; give access to cheaper and faster recipe",
                            "for munition."
                        ]
                    },
                    "tooltip" : {
                        "type" : "image",
                        "list" : [
                            {
                                "position" : [128, 212],
                                "file" : "/assetmissing.png?crop;0;0;1;1?replace=ffffff00;ffffff00?scale=62;8",
                                "tooltip" : {
                                    "type" : "itemList",
                                    "items" : [
                                        { "name" : "d8Weaponry_gunsmithTable", "count" : 1 },
                                        { "name" : "paper", "count" : 0, "parameters" : {"shortdescription" : "Ingredients"} },
                                        { "name" : "darkwoodmaterial", "count" : 12 },
                                        { "name" : "paper", "count" : 3 },
                                        { "name" : "ironbar", "count" : 4},
                                        { "name" : "coalore", "count" : 3}
                                    ]
                                }
                            }
                        ]
                    }
                },
                {
                    "text" : {
                        "type" : "text",
                        "position" : [0, 226],
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "string" : [
                            "             ,       ,       | to Reload",
                            "",
                            "     | to Shot"
                        ]
                    },
                    "image" : {
                        "type" : "image",
                        "list" : [
                            {
                                "position" : [0, 216],
                                "file" : "/D8Encyclopedia/Mod/generalImage/shift.png:<frame>",
                                "frame" : 2,
                                "tooltip" : "^green;Walk^reset;"
                            },
                            {
                                "position" : [36, 216],
                                "file" : "/D8Encyclopedia/Mod/generalImage/up.png:<frame>",
                                "frame" : 2,
                                "tooltip" : "^green;Move Up^reset;"
                            },
                            {
                                "position" : [60, 216],
                                "file" : "/D8Encyclopedia/Mod/generalImage/mouseLeftClick.png:<frame>",
                                "frame" : 2,
                                "tooltip" : "^cyan;abilitySlotKey^reset;"
                            },
                            {
                                "position" : [0, 196],
                                "file" : "/D8Encyclopedia/Mod/generalImage/mouseLeftClick.png:<frame>",
                                "frame" : 2,
                                "tooltip" : "^cyan;abilitySlotKey^reset;"
                            }
                        ]
                    }
                }
            ]
        },
        {
            "tooltipText" : " Upgrading Weapon's",
            "icon" : "/D8Weaponry/object/crafting/gunsmithrefinementWorkbench/icon.png",
            "pages" : [
                {
                    "text" : {
                        "type" : "text",
                        "position" : [0, 230],
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "string" : [
                            "The ^orange;Refinement Workbench^reset; is a new station that is used to upgrade weapon's.",
                            "Each level require some ^green;upgrade module^reset; and level specific resources.",
                            "",
                            "If one wish to downgrade their weapon's there are able to do so,",
                            "doing so will give back some of the resources used to upgrade to the current level"
                        ]
                    },
                    "tooltip" : {
                        "type" : "image",
                        "list" : [
                            {
                                "position" : [15, 222],
                                "file" : "/assetmissing.png?crop;0;0;1;1?replace=ffffff00;ffffff00?scale=94;8",
                                "tooltip" : {
                                    "type" : "itemList",
                                    "items" : [
                                        { "name" : "d8Weaponry_gunsmithrefinementworkbench", "count" : 1 },
                                        { "name" : "paper", "count" : 0, "parameters" : {"shortdescription" : "Ingredients"} },
                                        { "item" : "darkwoodmaterial", "count" : 8 },
                                        { "item" : "paper", "count" : 15 },
                                        { "item" : "ironbar", "count" : 2},
                                        { "item" : "coalore", "count" : 10}
                                    ]
                                }
                            }
                        ]
                    }
                }
            ]
        },
        {
            "tooltipText" : " Credit",
            "icon" : "/codex/other/finalpostcard.png",
            "pages" : [
                {
                    "text" : {
                        "type" : "text",
                        "position" : [0, 230],
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "string" : [
                            "^#ffa100;Darkcraft8^reset; | For creating the mod.",
                            "^pink;Multiverstar^reset; | For being a supporting environement.",
                            "^shadow,red;Mycelium^reset; | For showing and pushing me to learn how to make good at making stance.",
                            "^shadow,red;FezzedOne^reset; | For helping me patch the mod so that player can use it with xSb.",
                            "^green;You^reset; | For playing and enjoying(hopefully) the mod."
                        ]
                    }
                }
            ]
        }
    ]
}
