{
    "name" : "D8Weap_Munition",
    "icon" : "/projectiles/guns/bullets/standardbullet/icon.png",
    "tooltip" : " D8 Weaponry | Munition",

    "category" : [
        {   
            "tooltipText" : " Wooden bolt",
            "icon" : "/projectiles/guns/arrows/woodenbolt/icon.png",
            "pages" : [
                {
                    "text" : {
                        "type" : "text",
                        "position" : [0, 230],
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "string" : [
                            "A relativaly cheap munition favored by glitch and medieval",
                            "weapon entousiast.",
                            "",
                            "Obtainement Method | Crafting, Buying or Looting",
                            "",
                            "Crafting | ^orange;Gunsmith Table^reset; and it Upgrade",
                            "Buying   | ^red;Currently Not Implemented^reset;",
                            "Looting  | ^red;Currently Not Implemented^reset;"
                        ]
                    }
                }
            ]
        },
        {   
            "tooltipText" : " Standard bullet",
            "icon" : "/projectiles/guns/bullets/standardbullet/icon.png",
            "pages" : [
                {
                    "text" : {
                        "type" : "text",
                        "position" : [0, 230],
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "string" : [
                            "The most common kind of munition is the standard bullet",
                            "used by many weapon after regulation where put in place.",
                            "",
                            "Obtainement Method | Crafting, Buying or Looting",
                            "",
                            "Crafting | ^orange;Gunsmith Table^reset; and it Upgrade",
                            "Buying   | ^red;Currently Not Implemented^reset;",
                            "Looting  | ^red;Currently Not Implemented^reset;"
                        ]
                    }
                }
            ]
        },
        {   
            "tooltipText" : " Piercing bullet",
            "icon" : "/projectiles/guns/bullets/piercingbullet/icon.png",
            "pages" : [
                {
                    "text" : {
                        "type" : "text",
                        "position" : [0, 230],
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "string" : [
                            "Also nicknamed the marksman gift (by me)",
                            "piercing bullet are able to pierce multiple target.",
                            "",
                            "Obtainement Method | Crafting, Buying or Looting",
                            "",
                            "Crafting | ^orange;Gunsmith Table^reset; and it Upgrade",
                            "Buying   | ^red;Currently Not Implemented^reset;",
                            "Looting  | ^red;Currently Not Implemented^reset;"
                        ]
                    }
                }
            ]
        },
        {   
            "tooltipText" : " Shotgun shell",
            "icon" : "/D8Weaponry/item/munition/shotgunshell.png",
            "pages" : [
                {
                    "text" : {
                        "type" : "text",
                        "position" : [0, 230],
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "string" : [
                            "A standard shotgun shell, on ignition propel a number",
                            "projectile.",
                            "",
                            "Obtainement Method | Crafting, Buying or Looting",
                            "",
                            "Crafting | ^orange;Gunsmith Table^reset; and it Upgrade",
                            "Buying   | ^red;Currently Not Implemented^reset;",
                            "Looting  | ^red;Currently Not Implemented^reset;"
                        ]
                    }
                }
            ]
        }
    ]
}