{
    "name" : "D8Weap_GeneralInfo",
    "icon" : "/D8Weaponry/codex/d8Weaponry_guide_translation.png",
    "tooltip" : " D8 Weaponry | General Information",

    "category" : [
        {   
            "tooltipText" : " Weapon(s) Usage",
            "icon" : "/D8Weaponry/object/crafting/gunsmithTable/icon2.png",
            "pages" : [
                {
                    "text" : {
                        "type" : "text",
                        "position" : [0, -5],
                        "pageAnchor" : "topLeft",
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "string" : [
                            "Weapon(s) in this mod generaly require a secondary item called a ^green;munition^reset;",
                            "both are usualy crafted at the ^orange;Gunsmith Table^reset;^blue;(?)^reset; and it variants.",
                            "",
                            "They use munition^blue;(?)^reset;, while less energy expensive require the user to reload",
                            "such process can vary both in time and cost.",
                            "",
                            "Those^blue;(?)^reset; that utilise magazine usualy require the user to remove the previous one",
                            "^red;Discarding the remaining munition in the process^reset;, these take less time than most.",
                            "",
                            "On the other hand the one(s)^blue;(?)^reset; that directly utilise the munition \"ex: shotgun\",",
                            "will take more time to completely reload but can be reloaded as long...",
                            "as you have at least one munition for it.",
                            "",
                            "Each level of the ^orange;Gunsmith Table^reset; give access to cheaper and faster recipe(s)",
                            "for munition."
                        ]
                    },
                    "tooltip" : {
                        "type" : "image",
                        "list" : [
                            {
                                "position" : [189, -23],
                                "pageAnchor" : "topLeft",
                                "file" : "/assetmissing.png?crop;0;0;1;1?replace=ffffff00;ffffff00?scale=12;8",
                                "tooltip" : {
                                    "type" : "itemList",
                                    "override" : {
                                        "title" : "AT THE ^orange;INVENTOR'S TABLE^reset;",
                                        "mimicRecipeTooltip" : true
                                    },
                                    "items" : "/D8Weaponry/recipe/inventorstable1/d8Weaponry_gunsmithTable.recipe"
                                }
                            },
                            {
                                "position" : [72, -44],
                                "pageAnchor" : "topLeft",
                                "file" : "/assetmissing.png?crop;0;0;1;1?replace=ffffff00;ffffff00?scale=12;8",
                                "tooltip" : {
                                    "type" : "itemList",
                                    "override" : {
                                        "title" : "MUNITION"
                                    },
                                    "items" : "/D8Encyclopedia/Mod/list/D8Weap_munition.config"
                                }
                            },
                            {
                                "position" : [23, -75],
                                "pageAnchor" : "topLeft",
                                "file" : "/assetmissing.png?crop;0;0;1;1?replace=ffffff00;ffffff00?scale=12;8",
                                "tooltip" : {
                                    "type" : "itemList",
                                    "override" : {
                                        "title" : "WEAPONS"
                                    },
                                    "items" : "/D8Encyclopedia/Mod/list/D8Weap_magasineWeapon.config"
                                }
                            },
                            {
                                "position" : [119, -106],
                                "pageAnchor" : "topLeft",
                                "file" : "/assetmissing.png?crop;0;0;1;1?replace=ffffff00;ffffff00?scale=12;8",
                                "tooltip" : {
                                    "type" : "itemList",
                                    "override" : {
                                        "title" : "WEAPONS"
                                    },
                                    "items" : "/D8Encyclopedia/Mod/list/D8Weap_magasinelessWeapon.config"
                                }
                            }
                        ]
                    }
                },
                {
                    "text" : {
                        "type" : "text",
                        "position" : [0, -5],
                        "pageAnchor" : "topLeft",
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "string" : [
                            "             ,       ,       | to Reload",
                            "",
                            "     | to Shot"
                        ]
                    },
                    "image" : {
                        "type" : "image",
                        "list" : [
                            {
                                "position" : [0, -15],
                                "pageAnchor" : "topLeft",
                                "file" : "/D8Encyclopedia/Mod/generalImage/shift.png:<frame>",
                                "frame" : 2,
                                "tooltip" : "^green;Walk^reset;"
                            },
                            {
                                "position" : [36, -15],
                                "pageAnchor" : "topLeft",
                                "file" : "/D8Encyclopedia/Mod/generalImage/up.png:<frame>",
                                "frame" : 2,
                                "tooltip" : "^green;Move Up^reset;"
                            },
                            {
                                "position" : [60, -15],
                                "pageAnchor" : "topLeft",
                                "file" : "/D8Encyclopedia/Mod/generalImage/mouseLeftClick.png:<frame>",
                                "frame" : 2,
                                "tooltip" : "^cyan;abilitySlotKey^reset;"
                            },
                            {
                                "position" : [0, -35],
                                "pageAnchor" : "topLeft",
                                "file" : "/D8Encyclopedia/Mod/generalImage/mouseLeftClick.png:<frame>",
                                "frame" : 2,
                                "tooltip" : "^cyan;abilitySlotKey^reset;"
                            }
                        ]
                    }
                }
            ]
        },
        {
            "tooltipText" : " Upgrading Weapon(s)",
            "icon" : "/D8Weaponry/object/crafting/gunsmithrefinementWorkbench/icon.png",
            "pages" : [
                {
                    "text" : {
                        "type" : "text",
                        "position" : [0, -5],
                        "pageAnchor" : "topLeft",
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "string" : [
                            "The ^orange;Refinement Workbench^blue;(?)^reset; is a new station that is used to upgrade weapon(s).",
                            "Each level require some ^green;upgrade module(s)^reset; and level specific resource(s).",
                            "",
                            "If one wish to downgrade their weapon(s) there are able to do so... doing so will",
                            "give back some of the resource(s) used to upgrade to the current level"
                        ]
                    },
                    "tooltip" : {
                        "type" : "image",
                        "list" : [
                            {
                                "position" : [108, -13],
                                "pageAnchor" : "topLeft",
                                "file" : "/assetmissing.png?crop;0;0;1;1?replace=ffffff00;ffffff00?scale=12;8",
                                "tooltip" : {
                                    "type" : "itemList",
                                    "override" : {
                                        "title" : "AT THE ^orange;INVENTOR'S TABLE^reset;",
                                        "mimicRecipeTooltip" : true
                                    },
                                    "items" : "/D8Weaponry/recipe/inventorstable1/d8Weaponry_gunsmithrefinementworkbench.recipe"
                                }
                            }
                        ]
                    }
                }
            ]
        },
        {
            "tooltipText" : " Credit",
            "icon" : "/codex/other/finalpostcard.png",
            "pages" : [
                {
                    "text" : {
                        "type" : "text",
                        "position" : [0, -5],
                        "pageAnchor" : "topLeft",
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "string" : [
                            "^#ffa100;me (Darkcraft8)^reset; | For creating the mod.",
                            "^pink;Multiverstar^reset; | For being a supporting environement.",
                            "^shadow,red;Mycelium^reset; | For helping ^#ffa100;me^reset; learn how to make good stance(s).",
                            "^shadow,red;FezzedOne^reset; | For helping ^#ffa100;me^reset; to make the mod compatible with xSb.",
                            "^green;You^reset; | For playing and enjoying(hopefully) the mod."
                        ]
                    }
                }
            ]
        }
    ]
}
