{
    "name" : "D8Weap_Weapon",
    "icon" : "/interface/inventory/gun.png?crop;1;1;17;17?replace;000000=ffffff00;ffffff3d=ffffff00",
    "tooltip" : "  D8 Weaponry | Weapons ",

    "category" : [
        {   
            "tooltipText" : " Glock",
            "icon" : "/D8Weaponry/activeitem/ranged/oneHanded/ranged/glock/normal.png:idle?crop=20;16;38;28",
            "pages" : [
                {
                    "text" : {
                        "type" : "text",
                        "position" : [0, -5],
                        "pageAnchor" : "topLeft",
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "string" : [
                            "The Glock -- Todo : write a better description",
                            "",
                            "^green;magazine capacity of 17^reset;",
                            "^green;rate of fire of around 0.16 second^reset;"
                        ]
                    }
                },
                {
                    "text" : {
                        "type" : "text",
                        "position" : [0, -5],
                        "pageAnchor" : "topLeft",
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "string" : [
                            "JPBAI Version Control",
                            "",
                            "     | Aim and Shot",
                            "",
                            "",
                            "      ,       | Reload"
                        ]
                    },
                    "image" : {
                        "type" : "image",
                        "list" : [
                            {
                                "position" : [0, -35],
                                "pageAnchor" : "topLeft",
                                "file" : "/D8Encyclopedia/Mod/generalImage/mouseLeftClick.png:<frame>",
                                "frame" : 2,
                                "tooltip" : "^cyan;abilitySlotKey^reset;"
                            },
                            {
                                "position" : [0, -65],
                                "pageAnchor" : "topLeft",
                                "file" : "/D8Encyclopedia/Mod/generalImage/up.png:<frame>",
                                "frame" : 2,
                                "tooltip" : "^green;Move Up^reset;"
                            },
                            {
                                "position" : [20, -65],
                                "pageAnchor" : "topLeft",
                                "file" : "/D8Encyclopedia/Mod/generalImage/mouseLeftClick.png:<frame>",
                                "frame" : 2,
                                "tooltip" : "^cyan;abilitySlotKey^reset;"
                            }
                        ]
                    }
                }
            ]
        },
        {   
            "tooltipText" : " Chautchat",
            "icon" : "/D8Weaponry/activeitem/ranged/twoHanded/ranged/chauchat/normal.png:idle?crop=0;15;43;26",
            "pages" : [
                {
                    "text" : {
                        "type" : "text",
                        "position" : [0, -5],
                        "pageAnchor" : "topLeft",
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "string" : [
                            "The Chautchat",
                            "One of the most unreasonably hated weapon(s) by some of it user(s)",
                            "it has a ^green;magazine capacity of 20^reset; and a ^green;rate of fire of around 0.35 seconds^reset;",
                            "it is one of the first machine gun you can craft."
                        ]
                    }
                },
                {
                    "text" : {
                        "type" : "text",
                        "position" : [0, -5],
                        "pageAnchor" : "topLeft",
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "string" : [
                            "JPBAI Version Control",
                            "",
                            "             ,       | Rest Weapon on your shoulder",
                            "",
                            "",
                            "     | Aim and Shot",
                            "",
                            "",
                            "      ,       | Reload"
                        ]
                    },
                    "image" : {
                        "type" : "image",
                        "list" : [
                            {
                                "position" : [0, -35],
                                "pageAnchor" : "topLeft",
                                "file" : "/D8Encyclopedia/Mod/generalImage/shift.png:<frame>",
                                "frame" : 2,
                                "tooltip" : "^green;Walk^reset;"
                            },
                            {
                                "position" : [36, -35],
                                "pageAnchor" : "topLeft",
                                "file" : "/D8Encyclopedia/Mod/generalImage/up.png:<frame>",
                                "frame" : 2,
                                "tooltip" : "^green;Move Up^reset;"
                            },
                            {
                                "position" : [0, -65],
                                "pageAnchor" : "topLeft",
                                "file" : "/D8Encyclopedia/Mod/generalImage/mouseLeftClick.png:<frame>",
                                "frame" : 2,
                                "tooltip" : "^cyan;abilitySlotKey^reset;"
                            },
                            {
                                "position" : [0, -95],
                                "pageAnchor" : "topLeft",
                                "file" : "/D8Encyclopedia/Mod/generalImage/up.png:<frame>",
                                "frame" : 2,
                                "tooltip" : "^green;Move Up^reset;"
                            },
                            {
                                "position" : [20, -95],
                                "pageAnchor" : "topLeft",
                                "file" : "/D8Encyclopedia/Mod/generalImage/mouseLeftClick.png:<frame>",
                                "frame" : 2,
                                "tooltip" : "^cyan;abilitySlotKey^reset;"
                            }
                        ]
                    }
                }
            ]
        }
    ]
}