{
    "name" : "D8Weap_Weapon",
    "icon" : "/interface/inventory/gun.png?crop;1;1;17;17?replace;000000=ffffff00;ffffff3d=ffffff00",
    "tooltip" : " D8 Weaponry | Weapons",

    "category" : [
        {   
            "tooltipText" : " Glock",
            "icon" : "/D8Weaponry/object/crafting/gunsmithTable/icon2.png",
            "pages" : [
                {
                    "text" : {
                        "type" : "text",
                        "position" : [0, 230],
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "string" : [
                            "The Glock"
                        ]
                    }
                }
            ]
        },
        {   
            "tooltipText" : " Chautchat",
            "icon" : "/D8Weaponry/object/crafting/gunsmithTable/icon2.png",
            "pages" : [
                {
                    "text" : {
                        "type" : "text",
                        "position" : [0, 230],
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "string" : [
                            "The Chautchat"
                        ]
                    }
                }
            ]
        }
    ]
}