{
    "name" : "D8Weaponry",
    "icon" : "/interface/inventory/gun.png?crop;1;1;17;17?replace;000000=ffffff00;ffffff3d=ffffff00",
    "tooltip" : "D8 Weaponry | General Information",

    "Category" : [
        {   
            "tooltipText" : " Weapon's Usage",
            "icon" : "/D8Weaponry/object/crafting/gunsmithTable/icon2.png",
            "pages" : [
                {
                    "text" : {
                        "type" : "text",
                        "position" : [0, 230],
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "string" : [
                            "Weapon's in this mod generaly require a secondary item called a ^green;munition^reset;",
                            "both are usualy crafted at the ^orange;Gunsmith Table^reset; and it variants.",
                            "",
                            "The use munition, while less energy expensive require the user to reload",
                            "such process can vary both in time and cost.",
                            "",
                            "Those that utilise magazine usualy require the user to remove the previous one",
                            "^red;Discarding the remaining munition in the process^reset; but take less time than most.",
                            "",
                            "On the other hand the one's that directly utilise the munition \"ex: shotgun\",",
                            "will take more time to completely reload but can be reloaded as long",
                            "as you have at least one munition for it."
                        ]
                    }
                },
                {
                    "text" : {
                        "type" : "text",
                        "position" : [0, 226],
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "string" : [
                            "             ,       ,       | to Reload",
                            "",
                            "     | to Shot"
                        ]
                    },
                    "image" : {
                        "type" : "image",
                        "list" : [
                            {
                                "position" : [0, 216],
                                "file" : "/D8Encyclopedia/Mod/generalImage/shift.png:<frame>",
                                "frame" : 2,
                                "tooltip" : "^green;Walk^reset;"
                            },
                            {
                                "position" : [36, 216],
                                "file" : "/D8Encyclopedia/Mod/generalImage/up.png:<frame>",
                                "frame" : 2,
                                "tooltip" : "^green;Move Up^reset;"
                            },
                            {
                                "position" : [60, 216],
                                "file" : "/D8Encyclopedia/Mod/generalImage/mouseLeftClick.png:<frame>",
                                "frame" : 2,
                                "tooltip" : "^cyan;abilitySlotKey^reset;"
                            },
                            {
                                "position" : [0, 196],
                                "file" : "/D8Encyclopedia/Mod/generalImage/mouseLeftClick.png:<frame>",
                                "frame" : 2,
                                "tooltip" : "^cyan;abilitySlotKey^reset;"
                            }
                        ]
                    }
                }
            ]
        },
        {
            "tooltipText" : " Upgrading Weapon's",
            "icon" : "/D8Weaponry/object/crafting/gunsmithrefinementWorkbench/icon.png",
            "pages" : []
        }
    ]
}