[
    {
        "inputs" : [
            {
                "item" : "liquidwater",
                "count" : 5
            }
        ],
        "duration" : 0.05,
        "outputs" : [
            {
                "ressource" : "hydrogen",
                "count" : 0.1
            },
            {
                "ressource" : "oxygen",
                "count" : 0.1
            }
        ]
    },
    {
        "note" : "fill recipes increase param of the matching items until their match outputs",
        "fill" : true,
        "inputs" : [
            { 
                "parameters" : {
                    "durability" : 126,
                    "gasKind" : "oxygen",
                    "gasAmount" : 0,
                    "gasMax" : 125,
                    "durabilityHit" : 0 
                },
                "maxParam" : {
                    "gasAmount" : 125,
                    "durabilityHit" : 125 
                },
                "count" : 1,
                "name" : "d8Weaponry_gascanister"
            }
        ],
        "duration" : 0.05,
        "outputs" : [
            {
                "item" : "d8Weaponry_gascanister",
                "count" : 1,
                "parameters" : {                    
                    "gasAmount" : 125,
                    "durabilityHit" : 125
                }
            }
        ]
    }
]