[
    {
        "inputs" : [
            {
                "item" : "liquidwater",
                "count" : 1
            }
        ],
        "duration" : 0,
        "outputs" : [
            {
                "resource" : "hydrogen",
                "count" : 1
            },
            {
                "resource" : "oxygen",
                "count" : 0.5
            }
        ],

        "hasResourceSpaceForAll" : false
    },
    {
        "inputs" : [
            {
                "item" : "liquidhealing",
                "count" : 1
            }
        ],
        "duration" : 0,
        "outputs" : [
            {
                "resource" : "hydrogen",
                "count" : 2
            },
            {
                "resource" : "oxygen",
                "count" : 1
            },
            {
                "item" : "biosample",
                "count" : 1
            }
        ],

        "hasResourceSpaceForAll" : false
    },
    {
        "inputs" : [
            {
                "item" : "bottledwater",
                "count" : 1
            }
        ],
        "duration" : 0.25,
        "outputs" : [
            {
                "resource" : "hydrogen",
                "count" : 10
            },
            {
                "resource" : "oxygen",
                "count" : 5
            }
        ],

        "hasResourceSpaceForAll" : false
    },
    {
        "inputs" : [
            {
                "item" : "bottledhealingwater",
                "count" : 1
            }
        ],
        "duration" : 0.25,
        "outputs" : [
            {
                "resource" : "hydrogen",
                "count" : 10
            },
            {
                "resource" : "oxygen",
                "count" : 5
            },
            {
                "item" : "livingroot",
                "count" : 1
            }
        ],

        "hasResourceSpaceForAll" : false
    },

    {
        "inputs" : [
            {
                "item" : "d8Weaponry_gascanister",
                "count" : 1,
                "parameters" : {}
            },
            {
                "resource" : "oxygen",
                "count" : 1
            }
        ],
        "duration" : 1,
        "matchInputParameters" : true,
        "outputs" : [
            {
                "item" : "d8Weaponry_gascanister",
                "count" : 1,
                "parameters" : {
                    "resourceKind" : "oxygen",
                    "resourceAmount" : 1,
                    "resourceMax" : 125,

                    "durability" : 126,
                    "durabilityHit" : 1,

                    "buildConfig" : {
                        "resourcePath" : {
                            "resource1Amount" : "resourceAmount",
                            "resource1MaxAmount" : "resourceMax"
                        },
                        "resource1Label" : "Oxygen"
                    }
                }
            }
        ]
    },
    {
        "fill" : true,
        "inputs" : [
            {
                "resource" : "oxygen",
                "count" : 1
            }
        ],
        "duration" : 0.025,
        "amount" : {
            "resourceAmount" : 1,
            "durabilityHit" : 1
        },
        "outputs" : [
            {
                "item" : "d8Weaponry_gascanister",
                "count" : 1,
                "parameters" : {
                    "resourceKind" : "oxygen",
                    "resourceAmount" : 125,
                    "resourceMax" : 125,

                    "durability" : 126,
                    "durabilityHit" : 125,

                    "buildConfig" : {
                        "resourcePath" : {
                            "resource1Amount" : "resourceAmount",
                            "resource1MaxAmount" : "resourceMax"
                        },
                        "resource1Label" : "Oxygen"
                    }
                }
            }
        ],
        "group" : "secondary"
    },
    {
        "inputs" : [
            {
                "resource" : "hydrogen",
                "count" : 125
            }
        ],
        "duration" : 0.025,
        "amount" : {
            "resourceAmount" : 1,
            "durabilityHit" : 1
        },
        "outputs" : [
            {
                "treasure" : "stim",
                "count" : 1
            }
        ],
        "group" : "secondary"
    }
]