[
    {
        "inputs" : [
            {
                "item" : "liquidwater",
                "count" : 5
            }
        ],
        "duration" : 0.05,
        "outputs" : [
            {
                "ressource" : "hydrogen",
                "count" : 10
            },
            {
                "ressource" : "oxygen",
                "count" : 10
            }
        ]
    },
    {
        "note" : "fill recipes should increase param of the matching items until their match outputs and then move them to an output when full",
        "fill" : true,
        "inputs" : [
            {
                "ressource" : "oxygen",
                "count" : 0.1
            }
        ],
        "duration" : 0.05,
        "outputs" : [
            {
                "item" : "d8Weaponry_gascanister",
                "count" : 1,
                "parameters" : {                    
                    "gasAmount" : 125,
                    "durabilityHit" : 125
                }
            }
        ]
    }
]