{
    "input" : [
        { "item" : "d8Weaponry_ironrevolver", "count" : 0 },
        { "item" : "d8Weaponry_glock", "count" : 0 },
        { "item" : "d8Weaponry_makarov", "count" : 0 },
        { "item" : "d8Weaponry_titaniummachinepistol", "count" : 0 },

        { "item" : "d8Weaponry_ironassaultrifle", "count" : 0 },
        { "item" : "d8Weaponry_chauchat", "count" : 0 },
        { "item" : "d8Weaponry_tommygun", "count" : 0 },
        { "item" : "d8Weaponry_doublebarrelshotgun", "count" : 0 },
        { "item" : "d8Weaponry_titaniumsniperrifle", "count" : 0 },
        { "item" : "d8Weaponry_minigun", "count" : 0 }
    ]
}